{% extends "base.html" %}

{% block content %}
  <h3>Blogs {% if pages %}<small class="text-muted">({{ pages|length }} Page{{ pages|length|pluralize:"s" }})</small>{% endif %}</h3>
  <img src = "https://images.unsplash.com/photo-1518101645466-7795885ff8f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" style= "height: 550px; width:800px;">
  <hr>
  {% if pages %}
    <div class="card-columns">
      {% for page in pages %}
        {% include "partials/card.html" %}
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-secondary" role="alert">No posts to display.</div>
  {% endif %}
{% endblock %}
